<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container">
        @Html.ActionLink("Patient Application", "Index", "Home", null, htmlAttributes: new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">

                    @Html.ActionLink("Patient", "Index", "Patients", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Pharmacy", "Index", "Pharmacies", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Physician", "Index", "Physicians", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                </li>


            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</nav>
