@model PatientApplication.ViewModels.PharmacySelectionViewModel
@{
    ViewBag.Title = "PharmacyListForSelection";
}

<h2 class="text-center">Add Pharmacy to Patient</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.thePatient.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.thePatient.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thePatient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thePatient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thePatient.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thePatient.Gender)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("SubmitSelectedPharmacyList", "Pharmacies", new { thePatientId = Model.thePatient.Id }, FormMethod.Post))
{
    @Html.HiddenFor(model => model.thePatient.Id)
    <table class="table table-bordered table-dark mt-5">
        <thead>
            <tr class="text-center">
                <th>Select</th>
                <th>Pharmacy Name</th>
                <th>Address</th>

            </tr>
        </thead>
        <tbody class="text-center">
            @Html.EditorFor(model => model.PharmacyList)

        </tbody>

    </table>

    <hr />
    <br />

    <input type="submit" name="addPharmacy" id="submit" value="Submit Selected" class="btn btn-outline-primary" />
}


