
@model PatientApplication.ViewModels.PatientViewModel

@{
    ViewBag.Title = "Physician";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Physician List</h2>

<p>
    @Html.ActionLink("Add Physician To Patient", "AddPhysicianToPatient", "Physicians", htmlAttributes: new { @class = "btn btn-outline-primary" })

</p>




    <table class="table table-bordered table-dark mt-5">
        <thead>

            <tr>
                <th>#</th>
                <th class="text-center">Action</th>
                <th class="text-center">@Html.DisplayNameFor(Physicians.PhysicianName)</th>

                
            </tr>
        </thead>

        <tbody>
            @{ int counter = 1; }
            @foreach (var physician in Model.Physicians)
                
            {

                <tr>
                    <td>@counter</td>
                    
                    <td class="text-center">
                        @Html.DisplayFor(physician=>physician.Physicians.PhysicianName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(physician => Physicians.PhysicianSpecialty)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(physician => Physicians.PhysicianPhone)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(physician => Physicians.PhysicianAddress)
                    </td>

                    

                </tr>
                counter++;
            }
        </tbody>


    </table>




