
@model PatientApplication.ViewModels.AssignedPhysicianData

@{
    ViewBag.Title = "Physician";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Physician List</h2>

<p>
    @Html.ActionLink("Add Physician To Patient", "AddPhysicianToPatient", "Physicians", htmlAttributes: new { @class = "btn btn-outline-primary" })

</p>


    <table class="table table-bordered table-dark mt-5">
        <thead>

            <tr>
                <th>#</th>
                <th class="text-center">
                   @*@Html.DisplayNameFor(model => model.Physicians.PhysicianName)*@ 
                </th>

                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            @{ int counter = 1; }
            @foreach (var physician in Physicians )
            {

                <tr>
                    <td>@counter</td>
                    <td class="text-center">
                        @Html.DisplayFor(physician => physician.PhysicianName)
                    </td>

                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { physicianId = physician.Physicians.Id }, htmlAttributes: new { @class = "btn btn-outline-info" })
                        @Html.ActionLink("Details", "Details", new { physicianId = physician.Physicians.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Delete", "Delete", "Physicians", new { physicianId = physician.Physicians.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })
                    </td>

                </tr>
                counter++;
            }
        </tbody>


    </table>




